.air {
  background: #101010;
  padding: 90px 0;
}

.air-title {
  font-size: 48px;
  font-family: AG;
  text-transform: uppercase;
  color: #abe000;
  text-align: center;
  margin-bottom: 25px;
  &:after {
    content: url('../images/arrow.svg');
    width: 37px;
    height: 37px;
    margin-left: 10px;
  }
}

#air-form {
  text-align: center;
  margin-bottom: 140px;
}

input {
  gap: 15px;
}

.select {
  width: 14px;
  appearance: none; //-убираем стандартную стрелку
  overflow: hidden;
  background: url('../images/air/air-form-arrow.svg') no-repeat right; // -вставляем нужную
}

#date {
  margin: 0 15px;

}

//input[type=date]::-webkit-calendar-picker-indicator {
//  opacity: 0; //скрывает иконку справа квадратную
//}

#date,
#price,
#city {
  width: 327px;
  height: 40px;
}

.air-subtitle {
  font-size: 48px;
  color: #abe000;
  margin-bottom: 25px;
  margin-left: 22px;
  text-transform: uppercase;
  &:after {
    content: url('../images/arrow.svg');
    width: 37px;
    height: 37px;
    margin-left: 10px;
  }
}

.air-line {
  width: 805px;
  height: 5px;
  background: #ffffff;
  position: relative;
  &:after {
    content: url("../images/air/air-arrow-down-green.svg");
    width: 110px;
    height: 135px;
    margin-left: 1061px;
    position: absolute;
    bottom: -45px;
  }
}

.air-desc {
  font-size: 16px;
  font-family: AG;
  color: #ffffff;
  width: 390px;
  margin-top: 54px;
  margin-bottom: 25px;
}

.air-plans {
  display: flex;
  margin-left: 243px;
  z-index: 0;
  position: absolute;
}

.air-planer {
  width: 200px;
  height: 45px;
  text-align: center;
  background-image: url('../images/header-menu.svg');
}

.air-text {
  margin-top: 10px;
  text-transform: uppercase;
  font-family: FranklinGothicItalic;
  font-size: 20px;
  &:before {
    content: url('../images/air/air-icon.svg');
    width: 16px;
    height: 16px;
    margin-right: 12px;
    vertical-align: -3px;
  }
}

.air-img-one {
  margin-left: 517px;
  margin-top: -110px;
}

.air-img-two {
  margin-top: -160px;
}

//.box-img {
//  background: #abe000;
//  width: 1050px;
//  height: 280px;
//  position: absolute;
//  right: 0;
//  //margin-top: -250px;
//  //z-index: 0;
//}