.air {
  background: #101010;
  padding: 90px 0;
  position: relative;
}

.air-title {
  font-size: 48px;
  color: #abe000;
  text-align: center;
  margin-bottom: 25px;
  font-family: AG;
  &:after {
    content: url('../images/arrow.svg');
    margin-left: 11px;
    width: 37px;
    height: 37px;
  }
}

form {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-bottom: 140px;
}

#calendar {
  border: none;
}

#city,
#price,
#calendar{
  width: 327px;
  height: 40px;
  font-size: 12px;
}

.air-subtitle {
  font-size: 48px;
  color: #abe000;
  border-bottom: 5px #ffffff solid;
  width: 805px;
  padding-left: 20px;
  padding-bottom: 20px;
  font-family: AG;
  &:after {
    content: url('../images/arrow.svg');
    margin-left: 11px;
    width: 37px;
    height: 37px;
  }
}

.air-wrapper {
  position: relative;
  height: 840px; // не увеличивается автоматически секция
  margin-top: 45px;
  &:after {
    content: url('../images/air/air-arrow-down-green.svg');
    right: 0;
    position: absolute;
    margin-top: -12%;
  }
}

.air-content {
  position: absolute;
  z-index: 1;
}

.air-desc {
  width: 390px;
  color: #ffffff;
  margin-bottom: 36px;
  font-family: AG;
}

.air-item-wrap {
  display: flex;
  margin-left: 243px;
}

.air-elem {
  width: 200px;
  height: 45px;
  text-align: center;
  background-image: url('../images/header-menu.svg');
}

.planer-bottom {
  position: absolute;
  margin-top: 350px;
  margin-left: 687px;
}

.air-text {
  margin-top: 10px;
  text-transform: uppercase;
  font-family: FranklinGothicItalic;
  font-size: 20px;
  &:before {
    content: url('../images/air/air-icon.svg');
    width: 16px;
    height: 16px;
    margin-right: 12px;
    vertical-align: -3px;
  }
}

.air-img {
  position: absolute;
  z-index: -1;
  width: 200px;
  height: 100px;
}

.air-bg {
  background: #abe000;
  width: 1040px;
  height: 280px;
  right: 0;
  margin-top: -36%;
  position: absolute;
  z-index: 0;
}

.air-img-one {
  margin-left: 517px;
  margin-top: -145px;
}

.air-img-three {
  margin-left: 826px;
  margin-top: 20px;
  &:before {
    content: url('../images/header-menu.svg');
  }
}

.air-img-two {
  margin-top: -410px;
  position: absolute;
}

.air-slogan {
  color: #bcbcbc;
  font-size: 64px;
  margin-top: -22%;
  margin-left: 280px;
  align-items: center;
  display: flex;
  font-family: AG;
  &:before {
    content: url('../images/air/air-arrom-left.svg');
    width: 110px;
    height: 135px;
    margin-right: 20px;
  }
}