.earth {
  background: #101010;
  padding: 90px 0;
}

.earth-title {
  color: #abe000;
  font-size: 48px;
  margin-left: 710px;
  margin-bottom: 25px;
  font-family: AG;
  &:after {
    content: url('../images/arrow.svg');
    width: 37px;
    height: 37px;
    margin-left: 11px;
  }
}

.earth-line {
  width: 670px;
  height: 5px;
  background: #abe000;
  margin-left: 517px;
  margin-bottom: 25px;
}

.earth-subtitle {
  color: #bcbcbc;
  font-size: 64px;
  margin-left: 0;
  margin-top: -5%;
  font-family: AG;
  &:before {
    content: url('../images/earth/earth-arrow-up.svg');
    width: 110px;
    height: 135px;
    margin-right: 140px;
  }
}

.earth-vertically {
  position: relative;
}

.air-hr {
  border: none; /* Убираем границу */
  background-color: #abe000; /* Цвет линии */
  color: #abe000; /* Цвет линии для IE6-7 */
  height: 280px; /* Толщина линии */
  width: 5px;
  margin-top: -14%;
  margin-left: 93%;
  position: absolute;
}

.earth-wrapper {
  position: relative;
}

.img-wrap-one {
  &:before {
    content: url('../images/earth/earth-rectangle.svg');
    width: 120px;
    height: 510px;
    position: absolute;
    margin-left: -1.7%;
    margin-top: -2%;
    z-index: -1;
  }
}

.earth-wrap {
  position: relative;
  display: flex;
  margin-top: 55px;
  gap: 20px;
  margin-left: 6%;
  z-index: 1;
}

.img-wrap:after {
  content: url('../images/earth/earth-rectangle.svg');
  width: 120px;
  height: 510px;
  position: absolute;
  position: absolute;
  margin-left: -9%;
  margin-top: -2%;
  z-index: -1;
}

.earth-menu {
  margin-top: 60px;
  margin-left: 4.6%;

}

.earth-menu__list {
  display: flex;
  list-style: none;
  font-family: FranklinGothicItalic;
}

.earth-menu__item {
  background-image: url("../images/header-menu.svg");
  background-repeat: no-repeat;
  width: 210px;
  height: 45px;
  text-align: center;
  padding: 6px 0px;
}

a.earth__menu__link {
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  color: #101010;
  &:before {
    content: url("../images/header-catalog.svg");
    margin-right: 10px;
  }
}

.text-wrapper {
  padding: 20px 0;
}

.earth-desc {
  width: 920px;
  color: #ffffff;
  display: inline-flex;
  margin-left: 11%;
  font-size: 16px;
  font-family: AG;
  &:after {
    content: url('../images/earth/earth-arrow-black-down.svg');
    margin-left: 120px;
    margin-top: -7%;
  }
}