.fire {
  background: #101010;
  padding: 90px 0;
  background-image: url("../images/fire/fire-bg-arrow-right.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-position-x: 870px;
}

.fire-wrapper {
  position: relative;
}

.fire-title {
  font-size: 48px;
  color: #abe000;
  text-align: right;
  margin-bottom: 20px;
  margin-right: 42px;
  &:after {
    content: url("../images/arrow.svg");
    margin-left: 11px;
  }
}

.fire-line {
  width: 805px;
  height: 5px;
  background: #ffffff;
  position: absolute;
  right: 0;
}

.fire-subtitle {
  font-size: 64px;
  color: #bcbcbc;
  margin-right: 42px;
  text-align: right;
  margin-top: 40px;
}

.fire-item {
  display: flex;
  margin-left: 71px;
  margin-top: 180px;
  position: absolute;
  &:before {
    content: url('../images/fire/fire-arrow-right-green.svg');
    margin-right: 128px;
    position: absolute;
    top: -1020%;
    right: 25%;
  }
}

.fire-elem {
  width: 200px;
  height: 45px;
  text-align: center;
  background-image: url('../images/header-menu.svg');
}

.fire-text {
  font-size: 20px;
  text-transform: uppercase;
  font-family: FranklinGothicItalic;
  margin-top: 5px;
  color: #101010;
  &:before {
    content: url('../images/fire/fire-icon.svg');
    width: 16px;
    height: 16px;
    margin-right: 12px;
    vertical-align: -3px;
  }
}

.fire-images {
  margin-top: 20px;
}

.img-car {
  margin-left: 410px;
}

.img-bike {
  margin-top: -235px;
}

.fire-content {
  display: flex;
  margin-left: -30%;
  margin-top: 40px;
}

.fire-desc {
  background: #1d1d1d;
  width: 770px;
  display: flex;
  justify-content: right;
  padding: 20px 20px 0 0;
}

.fire-paragrath {
  width: 288px;
  color: #ffffff;
  font-size: 20px;
}

.fire-elem-carting {
  width: 200px;
  height: 45px;
  background-image: url('../images/header-menu.svg');
  text-align: center;
  display: flex;
  margin-top: 40px;
  left: 1192px;
  position: absolute;
}