@font-face {
  font-family: "FranklinGothicItalic";
  src: url('../fonts/Franklin-Gothic-Heavy-Italic.ttf');
};

@font-face {
  font-family: "AG";
  src: url('../fonts/agavantgardecyrbook.ttf');
};

@font-face {
  font-family: "base02";
  src: url('../fonts/base02cyrillic.ttf');
};