.footer {
  background: #1d1d1d;
  padding: 60px 0 90px;
  background-image: url("../images/footer/footer-bg-left.svg");
  background-repeat: no-repeat;
  background-position-x: 30px;
}

.footer-wrap-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.footer-caption {
  color: #abe000;
  font-size: 16px;
  text-transform: uppercase;
  font-family: AG;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 140px;
}

.footer-contact {
  width: 182px;
}

.footer-address {
  color: #ffffff;
  font-size: 19px;
  font-family: AG;
  line-height: 130%;
}

.footer-email {
  display: inherit;
  font-size: 19px;
  text-decoration: none;
  color: #ffffff;
  line-height: 130%;
}

.footer-tel-link {
  display: block;
  font-size: 19px;
  text-decoration: none;
  color: #abe000;
  line-height: 130%;
}

.footer-box-centr {
  display: flex;
  width: 392px;
  justify-content: space-between;
}

.footer__item {
  color: #ffffff;
}

.footer__item {
  line-height: 130%;
}

.footer__item__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 16px;
  font-family: AG;
}

.footer-copyright {
  position: relative;
}

.copy {
  width: 200px;
  color: #ffffff;
  font-family: AG;
  font-size: 12px;
}

.copyright-size {
  font-size: 19px;
}

.footer-copyright-img {
  position: absolute;
  right: -25%;
  top: -340%;
}

.footer-right {
  display: flex;
}

.footer-pay-img {
  margin-bottom: 30px;
}

.footer-pay-left {
  flex-direction: column;
  display: flex;
  margin-right: 55px;
}

.footer-pay-right {
  display: flex;
  flex-direction: column;
}