.act {
  background: #101010;
  padding: 90px 0 200px;
}

.act-title {
  color: #abe000;
  font-size: 48px;
  text-align: right;
  &:after {
    content: url('../images/arrow.svg');
    margin-left: 11px;
  }
}

form#form-act {
  margin-top: 40px;
  position: relative;
}

.act-form {
  display: flex;
  flex-direction: column;
  margin-right: 210px;
  text-align: center;
  align-items: center;
}

.form-content-wrap {
  position: relative;
}

.form-content {
  background: #abe000;
}

.form-wrapper {
  display: flex;
  z-index: 1;
}

.radio-label {
  color: #ffffff;
  margin-left: 10px;
  margin-right: 90px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

input[type="name"] {
  width: 287px;
  height: 40px;
  padding-left: 40px;
  margin-bottom: 20px;
  outline: none;
}

.input-name {
  background-position-x: 10px;
  background-position-y: 10px;
  background-repeat: no-repeat;
  background-image: url('../images/form/form-name-icon.svg');
}

.input-phone {
  background-position-x: 10px;
  background-position-y: 10px;
  background-repeat: no-repeat;
  background-image: url('../images/form/form-phone-icon.svg');
}

input[type="number"] {
  width: 287px;
  height: 40px;
  padding-left: 40px;
  margin-bottom: 30px;
  outline: none;
}

.form-act-desc {
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 32px;
}

input#act-send {
  background: #abe000;
  width: 216px;
  height: 46px;
  outline: none;
  border: 4px solid #ABE000;
  border-radius: 100px;
  font-family: FranklinGothicItalic;
  font-size: 20px;
  text-transform: uppercase;
}

input[type="radio"] {
  width: 24px;
  height: 24px;
}

.form-radio-wrap {
  display: flex;
  margin-bottom: 20px;
  padding-top: 20px;
}

.form-radio__box {
  display: inline-flex;
}


.input-radio {
  cursor: pointer;
  display: none;
}

.form-button-radio {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid black;
  display: block;
  margin-right: 10px;
  &::after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 8px solid black;
    opacity: 0;
    transition: .2s all;
  }
}

.input-radio:checked ~ .radio-label .form-button-radio::after {
    opacity: 1;
}

textarea {
  width: 490px;
  height: 120px;
  padding: 12px 0 0 12px;
  margin-bottom: 20px;
  outline: none;
  &::placeholder {
    content: '';
    background: url("../images/form/textarea-sms.svg") no-repeat;
    background-position: 3% 12%;
    padding-left: 8%;
    background-color: #fff;
  }
}

.act-form-bg {
  background: #abe000;
  position: absolute;
  width: 1000px;
  height: 300px;
  z-index: 0;
  right: 0;
}

.checkbox-wrapper {
  display: flex;
}

.checkbox-left {
  margin-right: 80px;
}

input {
  width: 24px;
}

.checked__group input[type="checkbox"]{
  display:none
}

.checkbox__label:before{
  content:' ';
  display:block;
  height:2.5rem;
  width:2.5rem;
  position:absolute;
  top:0;
  left:0;
}
.checkbox__label:after{
  content:' ';
  display:block;
  height:24px;
  width:24px;
  border: 1.5px solid #000;
  background: #fff;
  border-radius: 4px;
  position:absolute;
  top:0;
  left:0;
  transition:100ms ease-in-out;
}

.checkbox__input:checked ~ .checkbox__label:after{
  background: #000;
  text-align: center;
  content: "\2714";
  color: rgb(250 248 248);
  display: grid;
  align-items: center;
}

.checkbox-transform{
  display: block;
  position:relative;font-size: 1.3em;color: #666;cursor:pointer;-webkit-tap-highlight-color:rgba(0,0,0,0);
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}
.checkbox__label:after:hover,.checkbox__label:after:active{
  border-color:green
}
.checkbox__label{
  margin-left:1rem;
  line-height:.75;
  font-family: AG;
  font-size: 1rem;
  color: #000;
}

.checkbox-label {
  font-size: 20px;
}