.promo {
  background: #1d1d1d;
  padding: 60px 0;
  position: relative;
}

.promo-wrapper {
  display: flex;
}

.promo-left {
  display: flex;
  &:after{
    content: url('../images/promo/promo-arrow-small-gray.png');
    height: 336px;
    position: absolute;
    right: 55%;
    z-index: 0;
    bottom: 4px;
  }
}

.promo-img-one {
  max-width: 640px;
  margin-right: 20px;
  position: relative;
  z-index: 1;
}

.promo-snow {
  margin-bottom: 20px;
}

.promo-fly {
  margin-bottom: 20px;
}

.promo-img-two {
  width: 290px;
}

.promo-right {
  display: flex;
  margin-left: 20px;
}

.promo-text {
  align-self: flex-end;
}

.promo-desc {
  margin-left: 20px;
  &:after {
    content: url('../images/promo/promo-arrow-double.png');
    height: 336px;
    position: absolute;
    right: 10%;
    top: -5%;
    z-index: 0;
    bottom: 4px;
  }
}

.promo-title {
  font-size: 56px;
  font-family: base02;
  color: #ffffff;
  max-width: 453px;
  margin-bottom: 20px;
}

.promo-slogan {
  font-size: 20px;
  color: #abe000;
  font-family: FranklinGothicItalic;
  margin-bottom: 60px;
}

.promo-desc-img {
  margin-top: 137px;
}

.promo-boat-img {
  margin-right: 20px;
}

.promo-desc-img {
  margin-right: 15px;
}

