*{
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

@import "fonts";
@import "header";
@import "promo";
@import "btn";
@import "air";
@import "earth";
@import "fire";
@import "water";
@import "choice";
@import "form";